
body {
    padding: 0 150px;
}

.pokedex-title {
    display: block;
    font-size: 45px;
    text-align: center;
    margin: auto
}
#twoSections {
    display: flex;
}

#pokemons-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 100px;
    width: 40%;
    min-width: 550px;
}

#big-pokemon-section {
    position: sticky;
    top: 10%;
    width: 20%;
    height: 650px;
    min-width: 250px;
    padding: 10px;
    border: 2px solid;
  
    align-items: center;
    text-align: center;
    text-transform: capitalize; 
    margin: 150px; 
}


.pokedex-title {
    display: block;
    font-size: 45px;
    text-align: center;
    margin: auto
}

#pokemonFullInfo {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    padding: 5px;
}

#pokemonFullInfo {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    padding: 5px;
}

.grid-item {
    margin: center;
    padding: 20px;
    width: 150px;
    height: 170px;
    border-style: solid;
    border-width: 2px;
}

.pokemon-img {
    display: block;
    margin: auto;
    width: 70%;   
}

.pokemon-name {
    text-align: center;
    text-transform: capitalize;
}

.pokemonAbility {
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-style:solid;
    border-width: 1px;
    border-radius: 5px; 
    text-transform: capitalize;
    background-color: gray;
    
}

#loadBtn {
    display: block;
    width: 565px;
    height: 50px;
    margin: 0 100px;
    border-radius: 10px;
    background-color:rgb(51, 135, 219);
    color: white;
    font-size: 20px;
    text-transform: capitalize;
}

#big-pokemon-section {
    padding: 10px;
    border: 2px solid;
    float: right;
    align-items: center;
    text-align: center;
    text-transform: capitalize; 
    margin: 150px; 
}

#pokemon-big-img{ 
    border-style:solid;
    width: 50%;
    margin: auto;    
}

.spanInfo {
    width: 70%;
    border: 1px solid;
    padding: 15px;
    text-align: center;
}

.ability_grass {
    background-color: green;
    color: rgb(255, 254, 254);
}

.ability_water {
    background-color: blue;
    color: #fff;
}

.ability_poison {
    background-color: rgb(146, 66, 251);
    color: #fff;
}

.ability_fire {
    background-color: rgb(247, 40, 78);
    color: #fff;
}

.ability_bug {
    background-color: rgb(110, 54, 54);
    color: #fff;
}

.ability_flying {
    background-color: rgb(160, 160, 226);
    color: #fff;
}